# this drop notebooks from GitHub language stats
*.ipynb linguist-vendored
C:/Users/damia/Wildfire-Detection/runs filter=lfs diff=lfs merge=lfs -text
yolov7/runs/train/1[[:space:]]epoch/weights/epoch_000.pt filter=lfs diff=lfs merge=lfs -text
yolov7/runs/train/1[[:space:]]epoch/weights/init.pt filter=lfs diff=lfs merge=lfs -text
